$width: 40px;

.wrapper {
  align-items: center;
  display: flex;
  height: $width / 2;
  justify-content: center;
  width: $width;
}

.ball {
  @keyframes motion {
    0% {
      transform: translateX(0) scale(1);
    }

    25% {
      transform: translateX($width/2) scale(0.25);
    }

    50% {
      transform: translateX(0) scale(1);
    }

    75% {
      transform: translateX(-$width / 2) scale(0.25);
    }

    100% {
      transform: translateX(0) scale(1);
    }
  }

  animation: motion 3s cubic-bezier(0.165, 0.84, 0.44, 1) infinite;
  border-radius: 50%;
  height: $width / 3;
  width: $width / 3;
}
