{
  "parser": "babel-eslint",
  "extends": ["standard", "standard-react"],
  "env": {
    "es6": true
  },
  "plugins": ["react"],
  "parserOptions": {
    "sourceType": "module"
  },
  "rules": {
    "space-before-function-paren": "off",
    "react/jsx-boolean-value": "off",
    "no-extra-semi": "off",
    "semi": "always"
  }
}
