$width: 30px;

@keyframes rotate {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}

.wrapper {
  align-items: center;
  animation: rotate 0.75s linear infinite;
  border: ($width / 5) solid;
  border-radius: 50%;
  display: flex;
  height: $width;
  justify-content: center;
  width: $width;
}
