$size: 40px;
$bars-count: 16;

@keyframes fade {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.wrapper {
  align-items: center;
  display: flex;
  height: $size;
  justify-content: center;
  position: relative;
  width: $size;
}

.bar {
  animation: fade ($bars-count * 0.06s) linear infinite;
  height: $size / 4;
  opacity: 0.05;
  position: absolute;
  width: $size / 10;
}

@for $var from 0 to $bars-count {
  $angle: 360deg * $var / $bars-count;
  $translate: -$size / 2;

  .bar-#{$var} {
    animation-delay: $var * 0.06s;
    transform: rotate($angle) translate(0, $translate);
  }
}
