@import '../math';

$size: 40px;
$ball-size: $size / 5;
$ball-count: 7;
$angle: 360deg / $ball-count;
$radius: $size / 2;
$offset: $ball-size / 2;
$background-color: #4b4c56;

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }

  50% {
    transform: rotate(180deg) scale(1.125);
  }

  100% {
    transform: rotate(360deg);
  }
}

@for $var from 0 to $ball-count {
  $x: sin($angle * $var) * $radius - $offset;
  $y: cos($angle * $var) * $radius - $offset;

  @keyframes move-#{$var} {
    0% {
      transform: translateX($x) translateY($y) scale(1.25);
    }

    5% {
      transform: translateX($x) translateY($y) scale(1.75);
    }

    50% {
      transform: translateX($x) translateY($y) scale(0.25);
    }

    55% {
      background-color: $background-color;
      transform: translateX($x) translateY($y) scale(1);
    }
  }

  .ball-#{$var} {
    animation: move-#{$var} 2.5s cubic-bezier(0.075, 0.82, 0.165, 1) infinite;
    animation-delay: $var * 0.2s;
    border-radius: 50%;
    height: $ball-size;
    left: $size / 2;
    position: absolute;
    top: $size / 2;
    transform: translateX($x) translateY($y);
    width: $ball-size;
  }
}

.wrapper {
  align-items: center;
  animation: rotate 1.5s linear infinite;
  display: flex;
  height: $size;
  justify-content: center;
  position: relative;
  width: $size;
}
