$size: 40px;

@keyframes rotate {
  from {
    transform: rotateX(0) rotateY(0);
  }
  to {
    transform: rotatex(360deg) rotatey(360deg);
  }
}

.wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: $size;
  height: $size;
  perspective: $size * 4;
}

.cubeWrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: inherit;
  height: inherit;
}

.cube {
  position: relative;
  width: $size;
  height: $size;
  transform-style: preserve-3d;
  animation: rotate 3s cubic-bezier(0.68, -0.55, 0.265, 1.55) infinite;
}

.side {
  backface-visibility: hidden;
  display: block;
  position: absolute;
  width: inherit;
  height: inherit;
}

.top {
  transform: rotateX(90deg) rotateY(0) translateZ($size/2);
}

.bottom {
  transform: rotateX(-90deg) rotateY(0) translateZ($size/2);
}

.left {
  transform: rotateX(0) rotateY(90deg) translateZ($size/2);
}

.right {
  transform: rotateX(0) rotateY(-90deg) translateZ($size/2);
}

.back {
  transform: rotateX(0) rotateY(180deg) translateZ($size/2);
}

.front {
  transform: rotateX(0) rotateY(0) translateZ($size/2);
}
