$size: 40px;

@keyframes fire {
  0% {
    opacity: 1;
    transform: scale(0.1);
  }
  25% {
    opacity: 0.85;
  }
  100% {
    transform: scale(1);
    opacity: 0;
  }
}

.wrapper {
  border-width: $size / 10;
  border-style: dotted;
  display: flex;
  justify-content: center;
  align-items: center;
  width: $size;
  height: $size;
  border-radius: 50%;
  animation: fire 1.25s cubic-bezier(0.165, 0.84, 0.44, 1) infinite;
}
