$size: 40px;

@keyframes fire {
  0% {
    opacity: 1;
    transform: scale(0.1);
  }

  25% {
    opacity: 0.85;
  }

  100% {
    opacity: 0;
    transform: scale(1);
  }
}

.wrapper {
  align-items: center;
  animation: fire 1.25s cubic-bezier(0.165, 0.84, 0.44, 1) infinite;
  border-radius: 50%;
  border-style: dotted;
  border-width: $size / 10;
  display: flex;
  height: $size;
  justify-content: center;
  width: $size;
}
