$size: 40px;
$bars-count: 11;

@keyframes rotate {
  to {
    transform: rotate(450deg);
  }
}

.wrapper {
  height: $size / 5;
  position: relative;
  width: $size;
}

.bar {
  animation: rotate 3s ease infinite;
  height: $size / 5;
  position: absolute;
  transform: rotate(-90deg);
  transform-origin: center bottom;
  width: $size / (60 * 0.8);
}

@for $var from 0 through $bars-count {
  .bar-#{$var} {
    animation-delay: $var * 0.05s;
    left: $var * 0.4 * 9px;
  }
}
