$size: 40px;
$barsCount: 11;

@keyframes rotate {
  to {
    transform: rotate(450deg);
  }
}

.wrapper {
  position: relative;
  width: $size;
  height: $size/5;
}

@for $var from 0 through $barsCount {
  .bar-#{$var} {
    position: absolute;
    left: $var * 0.4 * 9px;
    width: $size / (60 * 0.8);
    height: $size/5;
    transform-origin: center bottom;
    transform: rotate(-90deg);
    animation: rotate 3s ease infinite;
    animation-delay: $var * 0.05s;
  }
}
