$bars-count: 5;
$size: 40px;

.wrapper {
  align-items: center;
  display: flex;
  height: $size;
  justify-content: center;
  position: relative;
  width: $size;
}

@keyframes motion {
  0% {
    width: $size / ($bars-count * 4);
  }

  50% {
    width: ($size / $bars-count) - 1px;
  }

  100% {
    width: $size / ($bars-count * 4);
  }
}

.bar {
  animation: motion 1s cubic-bezier(0.165, 0.84, 0.44, 1) infinite;
  height: $size;
  position: absolute;
  top: 0;
  width: $size / ($bars-count * 4);
}

@for $var from 0 to $bars-count {
  .bar-#{$var} {
    animation-delay: $var * 0.15s;
    left: $var * ($size / $bars-count + $size / ($bars-count * 5)) - $size / 12;
  }
}
