$bars-count: 5;
$width: 40px;

.wrapper {
  align-items: center;
  display: flex;
  height: $width;
  justify-content: center;
  position: relative;
  width: $width;
}

@keyframes motion {
  0% {
    width: $width / ($bars-count * 4);
  }

  50% {
    width: ($width / $bars-count) - 1px;
  }

  100% {
    width: $width / ($bars-count * 4);
  }
}

@for $var from 0 to $bars-count {
  .bar-#{$var} {
    animation: motion 1s cubic-bezier(0.165, 0.84, 0.44, 1) infinite;
    animation-delay: $var * 0.15s;
    height: $width;
    left: $var *
      ($width / $bars-count + $width / ($bars-count * 5)) -
      $width /
      12;
    position: absolute;
    top: 0;
    width: $width / ($bars-count * 4);
  }
}
